{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% include '/layout/menu.html.twig' %}

<h1> Accueil </h1>

<h2>Liste des Jedis</h2>

        <ul>
            {% for jedi in jedis %}
                <li>
                    <a href="/product/{{ jedi.id }} ">{{ loop.index }} - {{ jedi.id }} {{ jedi.name|upper }} - 
                    SABER COLOR : {{ jedi.saberColor }}
                    </a>
                </li>
            {% endfor %}
        </ul>

{% endblock %}
