{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block bodycards %}



            {% for jedi in jedis %}

                        <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="/product/{{ jedi.id }}"><img class="card-img-top" src="https://images.techhive.com/images/article/2017/05/starwars-100720995-large.jpg" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/product/{{ jedi.id }}">{{ jedi.name }}</a>
                  </h4>
                  <h5>{{ jedi.price}}€ </h5>
                  <p class="card-text">Couleur sabre : {{ jedi.saberColor }}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
{% endfor %}

{% endblock %}
