{% extends 'base.html.twig' %}

{% block title %}Achetez {{jedi.name}} {% endblock %}

{% block body %}

{% include '/layout/menu.html.twig' %}

<h1> </h1>

<div class="card" style="width: 30rem;">
  <div class="card-header">
    {{jedi.name}}
  </div>

  {% set countryCode = "UK" %}

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Espece : {{jedi.species.name}}</li>
    <li class="list-group-item">Couleur sabre : {{jedi.saberColor}}</li>
    <li class="list-group-item">Description : {{jedi.description}}</li>
    <li class="list-group-item">Prix : {{ jedi.price|convertPrice("FR")|price(2, ',', '.', 'FR') }} </li>

    <li class="list-group-item">Prix converti pour le pays {{countryCode}} : {{
      jedi.price|convertPrice(countryCode)|price(2, ',', '.',countryCode) }}</li>

    <li class="list-group-item">Tags :
      {% for tag in jedi.tags %}
      <span class="badge badge-primary"> {{ tag.name }} </span>
      {% endfor %}
    </li>

    <li class="list-group-item">Nombre de vues : {{jedi.viewCounter}}</li>
    <li class="list-group-item">Mobile ou non :
      {% if is_mobile() == true %}
      Vous utilisez un portable/tablette
      <style>
        body {
          background-color: pink;
        }
      </style>
      {% else %}
      Vous utilisez un ordinateur
      {% endif %}</li>

    <li class="list-group-item">Remplacement de caracteres :{{ replaceNonAlphaNumerics("aa,bb!", "-") }}</li>

    <div class="card-body">
      <a href="{{ path('basket_add', {
          'productId': jedi.id
        }) }}" class="card-link">Ajouter au panier</a>
    </div>

  </ul>
</div>
{% endblock %}